*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body{
    background:  #f4f4f4;
}

nav{
    display: flex;
    justify-content: space-between;
    background: #333;
    color: white;
    padding: 15px;
} 

nav ul li{
    margin-left: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 50px;
    text-align: center;
}

#home {
    background: #007bff;
    color: white;
    padding: 80px;
}

#skills ul {
    list-style: none;
}

#projects div {
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #555
}
